.desc{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.desc_jeux {
    text-align: center;
}

.titre_jeux{
    text-align: center;
    font-size: 45px;
}


